{
  "*": {
    "Releases": [
      "a527-trixie",
      "a527-trixie-test",
      "t527-trixie",
      "t527-trixie-test",
      "a733-trixie",
      "a733-trixie-test"
    ]
  },
  "libAWIspApi_601_1.0.0_arm64.deb": {
    "Releases": []
  },
  "libAWIspApi_602_1.0.0_arm64.deb": {
    "Releases": []
  },
  "libAWIspApi_606_1.0.0_arm64.deb": {
    "Releases": []
  }
}
