Source: allwinner-prebuilt
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: admin
Priority: standard
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               lintian,
               dh-exec,
               pandoc,
               crossbuild-essential-arm64 [!arm64],
               libgstreamer-plugins-base1.0-0:arm64 [!arm64],
               libglib2.0-0:arm64 [!arm64],
               libx11-6:arm64 [!arm64],
               libc6:arm64 [!arm64],
               libxext6:arm64 [!arm64],
               libxv1:arm64 [!arm64],

Package: libgstreamer-openmax-allwinner
Architecture: any
Section: admin
Priority: optional
Depends: gstreamer1.0-x,
         ${shlibs:Depends},
         ${misc:Depends},
Description: Allwinner GStreamer OpenMax plugin
 This package provides the GStreamer support for Allwinner.
