Source: allwinner-prebuilt
Maintainer: "Radxa Computer Co., Ltd" <dev@radxa.com>
Section: admin
Priority: standard
Standards-Version: 4.6.0
Build-Depends: debhelper (>=12~),
               devscripts,
               lintian,
               dh-exec,
               pandoc,
               crossbuild-essential-arm64 [!arm64],

Package: libgstreamer-openmax-allwinner
Architecture: any
Section: admin
Priority: optional
Depends: ${misc:Depends},
Description: Allwinner GStreamer OpenMax plugin
 This package provides the GStreamer support for Allwinner.
